.success{
  Image{
    width:100%;
  }
  .title{
    text-align: center;
    font-size:36px;
    font-weight:500;
    color:rgba(38,38,38,1);
    margin:20px 0 40px;
  }
  .content{
    padding: 0 60px;
    .q{
      font-size:26px;
      font-weight:500;
      color:rgba(38,38,38,1);
    }
    .a{
      font-size:24px;
      font-weight:400;
      color:rgba(38,38,38,1);
      margin-bottom: 35px;
      margin-top: 10px;
    }

  }
  .at-button{
    margin-bottom:20px;
    height: 80px;
    line-height: 80px;
    border-radius: 40px;
    font-weight:600;
    font-size: 28px;

  }
}

.shareImg{
  padding:30px;

  .title{
    display: flex;
    font-weight:500;
    font-size:36px;
    justify-content: space-between;
    .left{
      flex:1;
    }
    Image{
      width:168px;
      margin-right:65px;

    }
  }
  .input{
    width:361px;
    height:66px;
    background:rgba(255,255,255,1);
    box-shadow:0px 2px 18px 0px rgba(121,121,121,0.15);
    border-radius:43px;

    margin-left: 0;
    margin-top: 25px;
    padding:10px 0;
    display: flex;
    align-items: center;
    font-size: 23px;
    color:#333;


      &:before{
        background-image: url(../../images/icon/search.png);
        background-repeat: no-repeat;
        margin-left: 23px;
        content: '';
        width: 22px;
        height: 21px;
        background-size: 100%;
        display: inline-block;
        margin-right:18px;


    }
  }
.content{
  box-shadow:0px 2px 18px 0px rgba(121,121,121,0.15);
  border-radius:8px;
  padding:30px 45px;
  margin:40px 0;
}


    .info1{
      flex:1;
      display: flex;

      Image{
        width:77rpx;
        height: 77rpx;
        border-radius: 50%;
        margin-right: 15rpx;

      }
      Text{
        font-size: 26rpx;
        color: #333;
        display: block;

      }
      View{
        font-size:20rpx;
        color: #666
      }

    }



  .box{
margin-top: 40px;
    Image{
      width:100%;

    }
    .img{
        max-height:400px;
    }
    .p{
      margin:60px 0;
      font-size:24px;
      text-indent: 2em;
      line-height: 40px;
    }
    .p1{
      font-size:26px;
      text-align: center;
      font-weight:500;
    }

  }
}
