.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24rpx;
  border-bottom: 1px solid #e7e7e7;
  padding: 30px;

  .right {
    //  flex:1;
    font-size: 26px;

    text {
      margin-right: 20px;
    }
  }
  .Complaints {
    &:before {
      content: '';
      background-image: url(../../images/icon/Complaints.png);
      background-size: 100%;
      background-repeat: no-repeat;
      display: inline-block;
      width: 25px;
      height: 25px;
      vertical-align: middle;
      margin-right: 12px;
    }
  }
}

.info1 {
  flex: 1;
  display: flex;
  Image {
    width: 77rpx;
    height: 77rpx;
    border-radius: 50%;
    margin-right: 15rpx;
  }
  Text {
    font-size: 26rpx;
    color: #333;
    display: block;
    Text {
      background-image: url(../../images/icon/woman.png);
      display: inline-block;
      width: 15px;
      height: 20px;
      background-size: 100%;
      background-repeat: no-repeat;
      margin-left: 28px;
    }
  }
  View {
    font-size: 20rpx;
    color: #666;
  }
}

.content {
  padding: 33px;
  .p {
    text-indent: 2em;
    padding: 0 0 40px 0;
    font-size: 24px;
    line-height: 40px;
  }
  .time {
    font-weight: bold;
    font-size: 26px;
  }
  .h {
    font-weight: bold;
    font-size: 30px;
    margin: 30px 0;
    display: block;
  }
  .pai {
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 20px;
    .row {
      .col {
        display: flex;
        justify-content: space-between;
        font-size: 24px;
        margin-bottom: 16px;
      }
    }
  }
  .imgs {
    Image {
      display: block;
      width: 100%;
    }
  }

  .listYZ {
    padding-bottom: 70px;
    .list {
      display: flex;
      width: 100%;
      //  flex-wrap: wrap;
      overflow-y: hidden;
      flex-wrap: nowrap;
    }
    .item {
      width: 178px;
      //flex:1;
      background: rgba(255, 255, 255, 1);
      box-shadow: 0px 2px 18px 0px rgba(121, 121, 121, 0.15);
      border-radius: 16px;
      margin-right: 22px;
      margin-bottom: 22px;
      padding: 20px 18px;
      white-space: nowrap;
      &:nth-child(3n) {
        //  margin-right:0
      }

      .info1 {
        flex: 1;
        display: flex;
        Image {
          width: 57rpx;
          height: 57rpx;
          border-radius: 50%;
          margin-right: 15rpx;
        }
        text {
          width: 110px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
      .view {
        margin-top: 25px;
        font-size: 20px;
        text-align: right;
      }
    }
  }

  .Message {
    //  padding-bottom: 100px;
    .h {
      border-bottom: 1px solid #e7e7e7;
      padding-bottom: 25px;
    }
    .noData {
      font-size: 24px;
      color: #666;
      padding: 100px 0;
      text-align: center;
      text {
        display: block;
        margin-bottom: 30px;
      }
      .at-button {
        margin-bottom: 20px;
        height: 58px;
        line-height: 58px;
        border-radius: 4px;
        width: 135px;
        font-size: 24px;
        border-color: #333333;
        color: #fff;
      }
    }

    .list {
      .item {
        margin-bottom: 30px;
        display: flex;
        border-bottom: 1px solid #efefef;
        padding-bottom: 30px;
        Image {
          width: 63px;
          height: 63px;
          border-radius: 50%;
          margin-right: 25px;
        }
        .right {
          color: #403e3e;
          font-size: 24px;
          font-weight: bold;
          flex: 1;
          text {
            display: block;
          }
          .name {
            font-size: 28px;
          }
          .timeM {
            margin-bottom: 25px;
          }
          .cont {
          }
          .reply {
            margin: 50px 0 0;
            border-left: 8px solid #e9b20a;
            padding: 20px;
            color: #b0b0b0;
          }
        }
      }
    }
  }
}

.bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  height: 100px;
  border-top: 2px solid #f0f0f0;
  background-color: #fff;
  .left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    .col {
      font-size: 22px;
      flex: 1;
      text-align: center;
      &:before {
        background-size: 100%;
        background-repeat: no-repeat;
        background-size: 100%;
        width: 36px;
        height: 36px;
        display: block;
        content: '';
        margin: 0 auto 10px;
      }
      &.share:before {
        background-image: url(../../images/icon/share.png);
      }
      &.want:before {
        background-image: url(../../images/icon/heart.png);
      }
      &.msg:before {
        background-image: url(../../images/icon/liuyan.png);
      }

      &.want.active:before {
        background-image: url(../../images/icon/heart_active.png);
      }
    }
  }
  .right {
    flex: 1;
    display: flex;
    justify-content: center;
    height: 100px;
    .btn {
      background-color: #e9b20a;
      color: #fff;
      font-size: 32px;

      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      &.yuyue {
        background-color: #000000;
        &.disable {
          opacity: 0.5;
        }
      }
    }
  }

  .input {
    margin-left: 35px;
    width: 520px;
    height: 60px;
    border: 1px solid rgba(204, 204, 204, 1);
    border-radius: 30px;
    input {
      line-height: 60px;
      height: 60px;
      padding-left: 10px;
    }
  }
  .shareI {
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 33px;
    height: 33px;
    display: block;
    background-image: url(../../images/icon/share.png);
    margin-left: 50px;
  }
}

.appointmentDetail {
  .at-button {
    height: 80px;
    line-height: 80px;
    border-radius: 4px;
    font-size: 28px;
  }
}

.modalInput {
  .at-textarea {
    font-size: 26px;
    .at-textarea__textarea {
      font-size: 26px;
      z-index: 0;
      textarea {
        z-index: 0;
      }
    }
  }
}

.replyButtonGroup {
  display: flex;
  .at-button {
    margin: 15px 15px 0 0;
    height: 48px;
    line-height: 48px;
    font-size: 22px;
    // background-color: transparent;
    // border-color: #333;
  }
}
