$color:#5299FB;
// .menu{
 
// //  padding: 0 20px;
//  // height: 500px;
// }
.p20{
  padding: 0 20px;
}
.index{
  .tab{
    position: fixed;
    top: 0;
    height: 88px;
    background-color: #5299FB;
    left: 0;
    width:100%;
    z-index: 1;
    .at-row{
      width: calc(100% - 40px) ;
    }
    
    .at-col{
      color: #fff;
      font-size: 30px;
      text-align: center;
      height: 88px;
      text{
        padding: 10px 30px;
        display: inline-block;
      }
      &.active{
        text{
           background-color: #99ccff;
           border-radius: 30px;
     
        }
       
      }
    }
  }
  .fixed{
    height: 88px;
    background-color: #5299FB;
  }
  .container{
    background: linear-gradient(to bottom,#5299FB,#f5f5f5);
    
  }
  .content{
    
    background-color: #fff;
    border-radius: 20px;
   // margin: 18px;
   padding: 30px 20px;
   overflow: hidden;
  
   .h3{
     color: #333333;
     font-size: 26px;
     margin: 20px 0;
  
   }
   .p{
     color: #666;
     font-size: 24px;
   }
  }
  .title{
    overflow: hidden;
    height: 46px;
    position: relative;
    z-index: 0;
  
    .sub{
      color: #666666;
      font-size: 26px;
      padding-right: 26px;
      display: inline-block;
      margin-right: 26px;
      &.active{
        color: #000000;
        text{
          border-bottom: 9px solid #ffff00;
        }
        
        
        // &::after{
        //   height: 9px;
          // background-color: #ffff00;
          // content: '';
          // display: block;
          // width: 100%;
      //  }
        
      
      }
  
    }
  }
  .expand{
    background: url(../../images/icon/arrowD.png) no-repeat;
    background-size: 100%;
    width: 39px;
    height: 25px;
    position:absolute;
    right: 10px;
    top: 10px;
  
  
  }
  .book.at-button{
    width: 300px;
    margin: 28px auto 0;
    height: 64px;
    line-height: 64px;
    font-size: 26px;
  }
  .list{
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    align-items: center;
    .item{
     
      background-color: #fff;
      border-radius: 10px;
      border: 1px solid #DCDCDC;
     
     // border-bottom: 1px solid #eee;
  
     
      width: 340px;
      margin-bottom: 20px;
      &:nth-child(2n){
        margin-left: 14px;
      }
      .image{
        position: relative;
        overflow: hidden;
       // margin-right:15px;
        Image{
          width: 100%;
          //  border:1px dashed #999;
          // width: 133px;
          // height: 133px;
          // border-radius: 50%;
        }
      } 
      .text{
        padding: 20px 15px 20px 20px;
        font-size: 24px;
      }
    }
  }
}

.noData{
  margin: 0 auto;
  
}
.moreType{
  position: fixed;
  background-color: rgba(0,0,0,0.4);
  height: 100%;
  width: 100%;
  display: none;
  top: 76px;
 
  z-index: 1;
  // top: 0px;
  // transform: translateY(-100%);
  // transition: transform 0.5s ease 0s;
  &.show{
    display: block;
    // top: 76px;
    // transform: translateY(0);
  }
  .body{
    background-color: #fff;
    height: 500px;
    padding: 36px;
    .h4{
      font-size: 26px;
      color: #999;
      margin-bottom: 50px;
      display: flex;
      justify-content: space-between;
    }
    .types{
      .subExpand{
      background-color: #f7f7f7;
      display: inline-block;
      width: 215px;
      height: 64px;
      line-height: 64px;
      text-align: center;
      color: #333333;
      font-size: 26px;
      border-radius: 5px;
      margin-bottom: 10px;
      margin-right: 10px;
      &:nth-child(3n){
        margin-right: 0;
      }
      &.active{
        background-color: #99ccff;
        color: #fff;
      }
      }
    }
    
  }
}

/*预约摄影师*/
.servicesTip{
  padding: 45px;
  .h3{
    font-size: 28px;
    font-weight: bold;
    color: #333333;
    margin: 30px 0;
  }
  .at-steps__title{
    font-size: 24px;
  }
  .p{
    font-size: 24px;
    font-weight: 500;
    color: #666666;
  }
}
.imagesGroup{
  margin-top: 15px;
  .tit{
    font-size: 24px;
    color: #000;
    padding: 25px 0;
    border-bottom: 1px solid #E5E5E5;
  }
  .p{
    font-size: 24px;
    color: #999;
    padding: 25px 0;
  }
  .at-textarea__textarea{
    font-size: 28px;
  }

}
.contact{
  margin-left:0;
 
  .at-input__title{
    font-size: 28px;
    color: #000;
    font-weight: bold;
    width: 113px;
  }
  input{
    font-size: 28px;
  }
  .at-input__children {    
    &::after{
      border-left-width:0 !important;
    }
  }
}
.green{
  font-size: 24px !important;
  font-weight: 500 !important;
  color: #33CC33 !important;
 
}

.bookPage{
  .subContent{
    padding-top: 20px;
  }
  padding-bottom: 200px;

  .picker{
    font-size: 28px;
    font-weight: bold;
    color: #000000;
    display: flex;
    padding: 30px 0;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E5E5E5;
    &:after{
      content:'';
      width:10px;
      height: 20px;
      background-image: url('../../images/icon/back.png');
      background-repeat: no-repeat;
      background-position: top center;
      background-size: 100% 100%;
      display: block;
    
  
    }
  }
  .pickerDate{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:15px 0;
  }
  .pickerTime{
    display:flex;
     .selLale{
      font-size: 23px !important;
      font-weight: bold;
      color: #000000;
      &.selStart{
        &:after{
          content:'开始';
        }
      }
      &.selEnd{
        &:after{
          content:'结束';
        }
      }
      
      &:after{
       margin-left: 10px;
        font-size: 20px;
        font-weight: 500;
        color: #5299FB;
      }
     
    }
  }

  .pickerRow{
    border-bottom: 1px solid #E5E5E5;
  }
  .at-col.picker{
    padding-right:30px;
    border-bottom: 0;
    padding: 20px 0;
    margin: 10px 30px 10px 0;

    text{
      color: #999999;
      font-weight: normal;
      &.active{
        color: #333333;
      }
    }
    &:nth-child(2){
      padding-right:0px;
      padding-left: 30px;
      border-left: 1px solid #DCDCDC;
      margin-right: 0;
      
    }
    .selected{
      color: #333333;
    }
  }
}
.navbar{
  background-color: $color;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  .addr{
    font-size: 30px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding-left: 15px;

    &:after{
      content: '';
      width: 0; 
      height: 0;
      border-width: 10px;
      border-style: solid;
      border-color:#fff transparent transparent transparent;
      margin: 0 25px 0 15px;
      position: relative;
      top: 5px;
    }

  }
  .service{
    background: #FFFFFF;
    border: 1px solid #E2E2E2;
    border-radius: 32px;
   // width: 420px;
    height: 63px;
    display: flex;
    color: #999999;
    align-items: center;
    font-size: 24px;
    padding-right: 30px;
    position: relative;
      top: 7px;
    &:before{
      content: '';
      width: 40px;
      height: 40px;
      background-image: url('../../images/icon/camera.png');
      background-repeat: no-repeat;
      background-position: top center;
      background-size: 100%;
      display: block;
      margin-right:15px;
      margin-left: 15px;
      position: relative;
      top: 7px;

    }
  }

}
.recruitmentBtn{
  position: fixed;
  bottom: 48px;
  right: 30px;
  font-size: 30px;
  width: 121px;
  height: 121px;
  border-radius: 50% ;
  word-wrap: break-word;
  background-color: $color;
  color: #fff;
  text-align: center;
  text{
    padding-top: 15px;
    display: block;
  }
}
