
$color:#5299FB;

  
  .form{
    
    background-color: transparent;
    &:after{
      border: 0;
    }
  }
  .formCont{
    padding:20px;
    background-color: #FFF;
    .txt-title{
      font-size: 24px;
      margin-bottom: 13px;
    }
  }

  .at-input{
    margin-left: 0;
    input{
      font-size: 32px;
    }
    &:after{
      border-bottom: 1px solid #DCDCDC;
    }
    &.input{
      .at-input__title{
        font-size: 28px;
      }
      input{
        font-size: 26px;
      }
      
    }
  }

 
.at-textarea{
  margin-left: 0;
   // margin-bottom: 15px;
    border:0px ;
    border-bottom: 1PX solid #DCDCDC;
    padding: 18px 0;
    &.evaluationCon{  // 评价页面
      border-bottom: none;
    }
    
  //  border-radius:4px;
}
  .at-textarea__textarea{
    font-size: 26px;

  }

  .setNumber{
    display: flex;
    font-size: 28px;
    color: #333;
    justify-content: space-between;
    align-items: center;
    line-height: 80px;
    height: 80px;
    background-color: #fff;

   
    .number{
      height: 38px;
      line-height: 38px;
      background-color: #5299fb;
   //   padding: 0 20px 0 30px;
      border-radius: 38px;
      color: #fff;
      font-size: 24px;
      position: relative;
      width: 140px;
      text-align: center;
      .at-icon{
        z-index: 9;
        position: relative;
      }
    }
    .options{
      display: none;
      position:absolute;
      left: 0;
      top: 0px;
      background-color: #5299fb;
      color: #fff;
      width: 140px;
      text-align: center;
      border-radius: 19px;
      line-height: 38px;
      .option{
        padding: 11px 0;
        &:first-child{
          padding-top: 0;
        }
      }
      &.show{
        display: block;
      }
    }

  }
  .tip{
    font-size: 24px;
    color: #999;
   
  }
  .type{
    display: flex;
    font-size: 28px;
    color: #333;
    justify-content: space-between;
    align-items: center;
    line-height: 60px;
    height: 60px;
    font-weight: bold;
    .chooseType{
      font-size: 26px;
      font-weight: normal;
     
    }


  }
 

.at-button{
  height:80px;
  line-height:80px;
 // background:rgba(0,0,0,1);
  border-radius:50px;
  margin-top: 30px;
  font-size: 36px;
  width: 540px;
  &.evaluationBtn{
    position:fixed;
    bottom: 27px;
    left: 106px;
  }
}
.at-image-picker__choose-btn{
  border-style: dashed;
  border-color: #ccc;
}

.at-image-picker__flex-item{
  margin-left: 0;
  margin-right:30px;
//  width:190px;
//  height:190px;
  flex-shrink:0;
}
.at-image-picker__remove-btn{
  background-color: $color;
  right: 5px;
  top: 5px;
  width: 40px;
  height: 40px;
  opacity:1
}



.agreement{
  margin-top:38px;
  font-size: 22px;
  color: #333;
  display: flex;

  align-items: center;
  &.true{
    &:before{
      background-image: url(../../images/icon/gouxuan.png);
    }
  }
  &.false{
    &:before{
      background-image: url(../../images/icon/uncheck.png);
    }
  }
  &:before{
    content:'';
    width:28px;
    height: 28px;
    background-size:100%;
    display: inline-block;

    margin-right:22px;

  }
}
.tip_share{
  text-align: center;
  font-size: 22px;
  margin:100px 0 50px 0;
  color:#333;

}



.CurtainBody{
  width:542px;
//  height:793px;
  padding-bottom: 45px;
  background-color:rgba(255,255,255,1);
  //background-image: url('http://os.saiyaoyun.com/e2e09df0fc0f33d1965ee37165a669cbff5c71bc-542x196.png');
  //background-repeat: no-repeat;
  //background-position: top center;
  //background-size: 100%;
  border-radius:21px;
  text-align: center;
  margin:0 auto;
  .bg{
    width: 100%;
    height: 195px;
    margin-top: -50px;
  }
  .tit{
    font-size:32px;
    display: block;
    font-weight: bold;
  }
  .p{
   // text-indent: 2em;
    font-size: 24px;
    padding:60px 36px;
    display: block;
    text-align: center;
    line-height: 40px;
  }
  .count{
    display: block;
    font-size: 30px;
    font-weight: bold;
    .num{
      color: #FFCC00
    }
  }
  .resetTime{
    display: block;
    font-size: 24px;
    margin:10px 0 30px;

  }
  .btns{
    margin :50px 0 ;
    padding:0 70px;
    .at-button{
      margin-bottom:20px;
      height: 70px;
      line-height: 70px;
      border-radius: 4px;
    }
    .share{
      background-color: #FFC40F;
      border-color: #FFC40F;
    }
  }

}

.agreements{
  padding:15px 20px 40px;
  View{
    font-size: 32px;
    margin:15px 0;
    font-weight: bold;
  }
  text{
    font-size: 26px;

  }
}

.feedback{
  .formCont{
    padding: 28px 48px;
    margin-top: 30px;
    &.noPadding{
      padding: 0 48px;
      height: 84px;
      line-height: 84px;
    }
  }
  .at-textarea{
    background-color: #EEEEEE;
    border-bottom: 0;
    height: 330px;
    padding: 15px;
    font-size: 24px;
  }
  .at-input{
    height: 84px;
    line-height: 84px;
    padding: 0;
    .at-input__container{
      height: 100%;
    }
    input{
      text-align: right;
    }
    &:after{
      border: 0;
    }
  }
  .foot {
    position: fixed;
    bottom: 40px;
    width: 100%;
    .at-button{
      width: 660px;
      height: 88px;
      line-height: 88px;
    }

  }
}


