.user{
  background-image: url(http://www.hotxiezhen.com/img/6ae9a1774328dbf8f3cc792ddfa405e8.png);
  min-height: 400px;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 400px;

  .header{
    z-index: 1;
    position: relative;
    color: #fff;
    padding: 27px 0 0 46px;
    display: flex;
    
  .at-avatar{
    width: 139px;
    height: 139px;
  }
  .right{
    margin-left: 20px;
    .name{
      margin-top: 14px;
      font-size: 36px;
      text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.76);
    }
    .wan{
      margin-top: 10px;
      width: 148px;
      height: 40px;
      line-height: 40px;
      color: #fff;
      background-color: rgba(0,0,0,.7);
      border-radius: 50px;
      text-align: center;
      font-size: 24px;
      padding: 0;
    }
    
  }
}

.grid{
  margin: 30px 18px;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding: 50px 0;
  .item{
    color: #000;
    text-align: center;
    flex: 1;
    .t{
      font-size: 30px;
      height: 40px;
      margin-bottom: 13px;
    }
    .b{
      font-size: 24px;
    }
    image{
      width: 40px;
    }
  } 
}
}
