.user{
  background-image: url(../../images/icon/ubg.png);
  min-height: 400px;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 400px;
}
.header{
    z-index: 1;
    position: relative;
    color: #fff;
    padding: 27px 0 0 46px;
    display: flex;
    
  .at-avatar{
    width: 139px;
    height: 139px;
  }
  .right{
    margin-left: 20px;
    .name{
      font-size: 36px;
    }
    
  }
}