Image{
  width: 100%;}
page{
  background-color: #f5f5f5;
}
.at-tab-bar--fixed{
  .at-tab-bar__item:nth-child(3){
    .at-tab-bar__inner-img{
      width:78px;
    }
  }
}

.at-button{
  height:80px;
  line-height:80px;
  background:#5299fb;  
  border-radius:4px;

}

.noData{
  text-align: center;
  font-size: 28px;
  color: #9AA0B4;
  font-weight:bold;

  Image{
    width:330px;
    margin-bottom: 15px;
  }
}
.at-curtain__btn-close--bottom {
  z-index: 0 !important;
}


.shareButton{
  background-color: transparent;
  border: none;
  &:after{
      border: none;
  }
}

.imageUpload{
  // font-size: 33px;
   .at-image-picker__flex-box{
     padding-left: 0;
     padding-right: 10px;
   }
   .at-image-picker__flex-item{
     margin-left: 0;
     margin-right: 10px;
   }
 }

 .payLayout {
   .at-button.at-button--small.at-button--primary.at-button--circle{
      height: 88px;
      line-height: 88px;
      border-radius: 40px;
      margin: 30px;
    }
 }

 .cancelL{
  .at-float-layout__container{
    height: 400px;
    min-height: 100px;
  }
}